.spinner {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color:rgb(255,255,255,0.7);
  z-index:999999;
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-middle{
  display: table-cell;
  vertical-align: middle;
}

.spinner-inner{
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

#spinner-image{ 
  z-index: inherit;
  position: absolute;
}