<?xml version="1.0" encoding="UTF-8"?>
<!--
	Cors authentication IIS Express virtual directory sample.

	For easiest syncing between IIS/IISExpress and the node angular-seed, 
	* add virtual directories for 
		/client/dist/dev
		/client/node_modules
	* in VS you might need to go to the project properties and create virtual directory as well (there's something behind the scenes in addition to the xml)

  changing IIS Express Authentication:
	http://www.danesparza.net/2014/09/using-windows-authentication-with-iisexpress/	

-->

<!--
  applicationhost.config

  VS 2015: 
		modify the project's /.vs/config/applicationhost.config file
		(as a side node, changing the authentication type is available here as well)
	
	for VS 2013:
		%userprofile%\documents\iisexpress\config\applicationhost.config
		or
		%userprofile%\my documents\iisexpress\config\applicationhost.config	
-->
<configuration>
  <site name="server" id="2">
    <application path="/" applicationPool="Clr4IntegratedAppPool">
      <virtualDirectory
        path="/"
        physicalPath="C:\data\dev\ML\Template-Angular2-VS\client\dist\dev"
      />
      <virtualDirectory
        path="/node_modules"
        physicalPath="C:\data\dev\ML\Template-Angular2-VS\client\node_modules"
      />
    </application>
    <application path="/server" applicationPool="Clr4IntegratedAppPool">
      <virtualDirectory path="/" physicalPath="C:\data\dev\ML\Template-Angular2-VS\server" />
    </application>
    <bindings>
      <binding protocol="http" bindingInformation="*:9000:localhost" />
    </bindings>
  </site>

  <httpProtocol>
    <customHeaders>
      <clear />
      <add name="Allow-Control-Allow-Origin" value="*"/>
      <add name="Access-Control-Allow-Origin" value="*"/>
      <add name="Access-Control-Allow-Headers" value="Accept, Origin, Content-Type"/>
      <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
    </customHeaders>
    <redirectHeaders>
      <clear />
    </redirectHeaders>
  </httpProtocol>
</configuration>